<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<a href="community">질문 목록</a><br/>  
  
<h1>질문 등록</h1>  
<form action="addquestion.jsp" method="post">
<div class="question">
	 <input type="text" placeholder="제목을 입력하세요." name="title" class='question-title'>
	 <textarea name="content" placeholder="내용을 입력하세요" class='question-content' ></textarea>
	 <input type="submit" value="등록" class="question-submit"/>
</div>
</form>  